<div id="editAdjustment" class="modal my-modal">
  <div class="custom-modal-content pb-100 m-auto">
    <span class="close" onclick="document.getElementById('editAdjustment').style.display='none'">&times;</span>

    <div class="heading-container text-center mb-5">
      <h3 class="heading">Edit Adjustment</h3>
      <hr class="w-50 m-auto" />
    </div>
    
    <form method="post" id="edit-adjustment-form">
    <div class="row mgb-3">
      <div class="col-lg-6 col-md-12">
        <div class="form-group">
          <label for="adjustment-name">Adjustment Name:</label>
          <input type="text" class="form-control" id="edit-adjustment-name" name="name"/>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="form-group">
          <label for="adjustment-code">Code:</label>
          <input type="text" class="form-control" id="edit-adjustment-code" name="code"/>
        </div>
      </div>
    </div>

    <div class="row mgb-3">
      <div class="col-lg-6 col-md-12">
        <div class="form-group">
          <label for="apply-level">Apply Level:</label>
          <select class="form-control" name="apply_level" id="edit-adjustment-apply-level">
            <option value="order">Order</option>
            <option value="insertion">Insertion</option>
          </select>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="form-group">
          <label for="adjustment-section">Section (optional):</label>
          <select class="form-control" name="section" id="edit-adjustment-section">
            {% for section in sections %}
              <option value="{{ section.id }}">{{ section.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>

    <div class="row mgb-3">
      <div class="col-lg-6 col-md-12">
        <div class="form-group">
          <label for="adjustment-value-type">Value Type:</label>
          <select name="value_type" class="form-control" id="edit-adjustment-value-type" >
            <option value="amount">amount</option>
            <option value="percentage">percentage</option>
          </select>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="adjustment-value">Value:</label>
              <input type="text" class="form-control" id="edit-adjustment-value" name="value"/>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <span> <input type="checkbox" name="prompt_for_value" id="edit-adjustment-prompt-for-value"/> Prompt For Value?</span>
            </div>
            <div class="checkbox"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mgb-3">
      <div class="col-lg-6 col-md-12">
        <div class="form-group">
          <label for="credit-debit">Credit/Debit:</label>
          <select class="form-control" name="type" id="edit-adjustment-type">
            <option value="credit">Credit</option>
            <option value="debit">Debit</option>
          </select>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="form-group">
          <label for="adjustment-gl-code">Assign GL Code (optional):</label>
          <select class="form-control" name="gl_code" id="edit-adjustment-gl-code">
            {% for glcode in glcodes %}
              <option value="{{ glcode.id }}">{{ glcode.code }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
    </form>
    {% include "components/item_select.html" with item_type="publications" available_items=publications id="edit-adjustment" %}

    <div class="btn-container text-center">
      <button class="btn btn-gray" onclick="saveAdjustment(1)">Archive</button>
      <button class="btn btn-danger" id="adminadjustment-active" onclick="saveAdjustment(2)">Deactivate</button>
      <button class="btn btn-secondary" onclick="saveAdjustment(3)">Save Changes</button>
    </div>
  </div>
  <script>
    function saveAdjustment(index) {
      let form = $('#edit-adjustment-form');
      var formData = new FormData(form[0]);
      let data = {};
      data['status'] = localStorage.getItem('edit-adjustment-status');
      data['active'] = localStorage.getItem('edit-adjustment-active') == 'true' ? true : false;
      if(index == 1) {
        data['status'] = 2;
      } else if(index == 2) {
        data['active'] = !data['active'];
      }
      for (const [key, value] of formData) {
          data[key] = value;
      }
      if(data['prompt_for_value']) {
        data['prompt_for_value'] = true;
      } else {
        data['prompt_for_value'] = false;
      }
      var selectElement = document.getElementById('edit-adjustment-lstBox2');
      var values = [];
      if(isNaN(data['status'])) data['status'] = 1;
      for (var i = 0; i < selectElement.options.length; i++) {
          values.push(selectElement.options[i].value);
      }
      data['publication_id'] = JSON.stringify(values);
      data['id'] = localStorage.getItem('edit-adjustment-id');
      if(!data['section']) data['section'] = '';
      if(!data['value']) data['value'] = 0;
      console.log(data);
      fetch("pricing/edit-adjustment", {
        method: "POST",
        credentials: "same-origin",
        headers: {
            "X-CSRFToken": "{{ csrf_token }}",
            "Accept": "application/json",
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(data),
      }).then((response) => {
          window.location.href = `{% url 'adminPricing' %}`
      })
    };
  </script>
</div>
