{% extends 'templates/base_gamma.html' %} {% block content %}{% load static %}

<div class="container mt-5 magazine">
  <div class="heading-container product text-center">
    <h3 class="heading">Edit Magazine Product</h3>
    <img class="img-fluid" src="{% static 'images/Magazine.png' %}" alt="Magazine" />
  </div>

  <div class="breadcrumb"><a href="{% url 'admin' %}">Admin Home</a></div>

  <div class="step-form-container">
    <div class="content">
      <div class="content__inner">
        <div>
          <div class="multisteps-form">
            <div class="row justify-content-center progress-btns-container">
              <div class="col-12 col-lg-8 ml-auto mr-auto mb-4">
                <div class="multisteps-form__progress">
                  <button class="multisteps-form__progress-btn js-active" type="button">Product Info</button>
                  <button class="multisteps-form__progress-btn" type="button">Ad Sizes Setup</button>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12 m-auto">
                <div class="multisteps-form__form">
                  <div class="multisteps-form__panel p-4 rounded js-active" data-animation="scaleIn">
                    <div class="heading-arrows-container d-flex justify-content-between">
                      <button class="multistep-form__arrow"><i class="fa fa-solid fa-chevron-left"></i></button>
                      <h3 class="multisteps-form__title text-center">Product Info</h3>
                      <button class="multistep-form__arrow"><i class="fa fa-solid fa-chevron-right"></i></button>
                    </div>

                    <div class="multisteps-form__content">
                      <div class="section-content">
                        <div class="row mgb-3">
                          <div class="col-lg-6 col-md-12">
                            <form method="post" id="edit-magazine-form">
                              <div class="form-group mb-5">
                                <div class="row">
                                  <div class="col-md-6">
                                    <label for="product-mag">Magazine Product:</label>
                                    <input type="text" name="product_mag" id="product-mag" class="form-control" value="{{product.product_mag}}" required />
                                  </div>
                                  <div class="col-md-6">
                                    <label for="measurement-type">Measurement Type:</label>
                                    <select name="measurement_type" id="measurement-type" class="form-control" value="{{product.measurement_type}}" required>
                                      <option value="inch" {% if product.measurement_type == 'inch' %} selected {% endif %}>Inch</option>
                                      <option value="cm" {% if product.measurement_type == 'cm' %} selected {% endif %}>Cm</option>
                                    </select>
                                  </div>
                                </div>
                              </div>

                              <div class="form-group mb-5">
                                <div class="row mb-5">
                                  <div class="col-md-6">
                                    <label for="orientation">Fold Orientation:</label>
                                    <select name="fold_orientation" id="orientation" class="form-control" value="{{product.fold_orientation}}" required>
                                      <option value="horizontal" {% if product.fold_orientation == 'horizontal' %} selected {% endif %}>Horizontal</option>
                                      <option value="vertical" {% if product.fold_orientation == 'vertical' %} selected {% endif %}>Vertical</option>
                                    </select>
                                  </div>
                                  <div class="col-md-6">
                                    <label for="orientation">Size:</label>
                                    <div class="double">
                                      <input type="text" name="height" id="height" class="form-control" value="{{product.height}}" required />
                                      <strong class="px-1 font-weight-bold">X</strong>
                                      <input type="text" name="width" id="width" class="form-control" value="{{product.width}}" required />
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="row">
                                  <div class="col-md-6">
                                    <label for="columns">Columns Per Page: (Optional)</label>
                                    <input type="text" name="columns" id="columns" class="form-control" value="{{product.columns}}"/>
                                  </div>
                                  <div class="col-md-6">
                                    <label for="column-width">Column Width: (Optional)</label>
                                    <input type="text" name="column_width" id="column-width" class="form-control" value="{{product.column_width}}"/>
                                  </div>
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="row mb-5">
                                  <div class="col-md-6">
                                    <label for="page-width">Page Width: (Optional)</label>
                                    <input type="text" name="page_width" id="page-width" class="form-control" value="{{product.page_width}}"/>
                                  </div>
                                  <div class="col-md-6">
                                    <label for="page-height">Page Height: (Optional)</label>
                                    <input type="text" name="page_height" id="page-height" class="form-control" value="{{product.page_height}}"/>
                                  </div>
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="row">
                                  <div class="col-md-6">
                                    <label for="page-border">Page Border: (Optional)</label>
                                    <input type="text" name="page_border" id="page-border" class="form-control" value="{{product.page_border}}"/>
                                  </div>
                                  <div class="col-md-6">
                                    <label for="gutter-size">Gutter Size: (Optional)</label>
                                    <input type="text" name="gutter_size" id="gutter-size" class="form-control" value="{{product.gutter_size}}"/>
                                  </div>
                                </div>
                              </div>
                            </form>
                          </div>
                          <div class="col-lg-6 col-md-12">
                            <div class="measurement-container text-center">
                              <img class="img-fluid" src="{% static 'images/magazine-img.png' %}" alt="magazine-img" />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="btn-container text-center">
                      <a href="{% url 'adminGeneral' %}" class="btn btn-gray">Return to Products</a>
                      <button class="btn btn-secondary" id="newspaper" onclick="saveChange({{product.id}})">Save Changes</button>
                    </div>
                  </div>

                  <div class="multisteps-form__panel p-4 rounded" data-animation="scaleIn">
                    <div class="heading-arrows-container d-flex justify-content-between">
                      <button class="multistep-form__arrow"><i class="fa fa-solid fa-chevron-left"></i></button>
                      <h3 class="multisteps-form__title text-center">Ad Size Setup</h3>
                      <button class="multistep-form__arrow"><i class="fa fa-solid fa-chevron-right"></i></button>
                    </div>

                    <div class="multisteps-form__content">
                      <div class="section-content">
                        <div class="row mgb-3">
                          <div class="col-lg-4 col-md-12">
                            <div class="standard-size-container">
                              <div class="heading-container">
                                <h3 class="heading">New Standard Size</h3>
                                <hr />
                              </div>
                              <form method="post" id="standardsize-form">
                                <div class="form-group px-3 mb-3">
                                  <label for="size-description">Size Description</label>
                                  <input type="text" name="description" id="size-description" class="form-control" />
                                </div>

                                <div class="form-group px-3 mb-3">
                                  <div class="row">
                                    <div class="col-md-6">
                                      <label for="column-num">No. of Columns</label>
                                      <input type="text" name="columns" id="column-num" class="form-control" />
                                    </div>
                                    <div class="col-md-6">
                                      <label for="height">Height</label>
                                      <input type="text" name="height" id="height" class="form-control" />
                                    </div>
                                  </div>
                                </div>
                              </form>
                              <!-- <div class="link-container text-center w-50 mx-auto">
                                <a href="" class="calculation-link">Click here to see Total Column Inches calculation</a>
                              </div>

                              <div class="total-container text-center my-5">
                                <h3 class="total">Total Column Inches: <span>2.25</span></h3>
                              </div> -->

                              <div class="btn-container text-center mb-3">
                                <button class="btn btn-secondary" onclick="createStandardSize()">Create</button>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-8 col-md-12">
                            <div class="created-sizes-container">
                              <div class="heading-container">
                                <h3 class="heading">Created Standard Size</h3>
                                <hr />
                              </div>

                              <div class="product-table-container table-container mt-3">
                                <table class="table product-table">
                                  <thead>
                                    <tr>
                                      <th scope="col">ID</th>
                                      <th scope="col">Description</th>
                                      <th scope="col">No. of Columns</th>
                                      <th scope="col">Height</th>
                                      <th scope="col">Total Column In.</th>
                                      <th scope="col">Status</th>
                                    </tr>
                                  </thead>
                                  <tbody id="standardsize-table-body">
                                    {% for size in standardsizes %}
                                    <tr>
                                      <td>{{size.id}}</td>
                                      <td>{{size.description}}</td>
                                      <td>{{size.columns}}</td>
                                      <td>{{size.height}}</td>
                                      <td>{{ size.total_columns_in }}</td>
                                      <td>
                                        <div class="toggle-switch-container">
                                          <div class="switch-field">
                                            <input type="radio" id="{{size.id}}-product-radio-one" name="{{size.id}}-product-switch-one" value="active" checked />
                                            <label for="{{size.id}}-product-radio-one">Active</label>
                                            <input type="radio" id="{{size.id}}-product-radio-two" name="{{size.id}}-product-switch-one" value="inactive" />
                                            <label for="{{size.id}}-product-radio-two">Inactive</label>
                                          </div>
                                        </div>
                                      </td>
                                    </tr>
                                    {% endfor %}
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="btn-container text-center">
                      <a href="{% url 'adminGeneral' %}" class="btn btn-gray">Return to Products</a>
                      <button class="btn btn-secondary" id="newspaper" onclick="saveChange({{product.id}})">Save Changes</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    function getCookie(name) {
      let cookie = {};
      document.cookie.split(';').forEach(function (el) {
        let [k, v] = el.split('=');
        cookie[k.trim()] = v;
      })
      return cookie[name];
    }
    function saveChange(id) {
      let form = $('#edit-magazine-form');
      var formData = new FormData(form[0]);
      let data = {};
      
      for (const [key, value] of formData) {
          data[key] = value;
      }
      fetch(`${id}/save`, {
          method: 'POST',
          headers: {
              "X-CSRFToken": getCookie('csrftoken'),
              "Accept": "application/json",
              'Content-Type': 'application/json'
          },
          body: JSON.stringify(data),
      })
      .then(response => response.json())
      .then(data => {
          $.toastr.success('Saved Success');
      })
      .catch(error => {
          $.toastr.error("Saved failure");
      });
    }
    function createStandardSize() {
      let form = $('#standardsize-form');
      var formData = new FormData(form[0]);
      let data = {};
      
      for (const [key, value] of formData) {
          data[key] = value;
      }
      data['type'] = 1;
      currentSection = document.querySelector('#standardsize-form');
      var requiredInputs = currentSection.querySelectorAll('[required]');
      var allFilled = true;

      // Check if all required inputs are filled
      requiredInputs.forEach(function (input) {
        if (!input.value.trim()) {
          allFilled = false;
          input.classList.add('input-error'); // Optionally, add an error class for styling
        } else {
          input.classList.remove('input-error'); // Remove error class if input is filled
        }
      });

      // If not all required inputs are filled, exit the function
      if (!allFilled) {
        alert('Please fill in all required fields.');
        return;
      } else {
        fetch(`/advertising/adadmin/financial/create-standardsize`, {
          method: 'POST',
          headers: {
            "X-CSRFToken": getCookie('csrftoken'),
            "Accept": "application/json",
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(data),
        })
        .then(response => response.json())
        .then(res => {
          if(res.success) {
            $.toastr.success('Saved Success');
            var tbody = document.getElementById('standardsize-table-body');
            // Get the last child element (last <tr> element) within the tbody
            var lastTr = tbody.lastElementChild;
            var lastRateId = 0
            // Check if the lastTr is a <tr> element
            if (lastTr.tagName === 'TR') {
                // Get the ID of the last rate element from the last <tr> element
                var lastRateId = lastTr.querySelector('td:first-child').textContent;
            }
            var newRow = `
            <tr>
              <td>${Number(lastRateId) + 1}</td>
              <td>${data['description']}</td>
              <td>${data['columns']}</td>
              <td>${data['height']}</td>
              <td>{{ size.total_columns_in }}</td>
              <td>
                <div class="toggle-switch-container">
                  <div class="switch-field">
                    <input type="radio" id="${Number(lastRateId) + 1}-product-radio-one" name="${Number(lastRateId) + 1}-product-switch-one" value="active" checked />
                    <label for="${Number(lastRateId) + 1}-product-radio-one">Active</label>
                    <input type="radio" id="${Number(lastRateId) + 1}-product-radio-two" name="${Number(lastRateId) + 1}-product-switch-one" value="inactive" />
                    <label for="${Number(lastRateId) + 1}-product-radio-two">Inactive</label>
                  </div>
                </div>
              </td>
            </tr>`;
            tbody.insertAdjacentHTML('beforeend', newRow);
          } else {
            $.toastr.error("Saved failure");  
          }
        })
        .catch(error => {
          $.toastr.error("Saved failure");
        });
      }
    }
  </script>
</div>

{% endblock %}
